<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин Телефонів</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Логотип" class="logo-img">
            <h1 class="logo-text">Магазин Телефонів</h1>
        </div>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="nav-button">Головна</a>
            <a href="{{ url_for('about') }}" class="nav-button">Про нас</a>
        </nav>
    </header>

    <main>
        <section class="hero-section">
            <h2 class="welcome-heading">Ласкаво просимо до нашого магазину телефонів!</h2>
        </section>

        <section class="products-section">
            {% block content %}{% endblock %}
        </section>

        <button class="back-button" onclick="navigateTo('index')">Назад</button>
    </main>

    <script>
        function navigateTo(page) {
            window.location.href = page + '.html'; // Переход на іншу сторінку
        }
    </script>
</body>
</html>

