<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин Телефонів</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Логотип" class="logo-img">
            <h1 class="logo-text">Магазин Телефонів</h1>
        </div>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="nav-button">Головна</a>
            <a href="{{ url_for('about') }}" class="nav-button">Про нас</a>
        </nav>
    </header>

    <main>
        <section class="hero-section">
            <h2 class="welcome-heading">Ласкаво просимо до нашого магазину телефонів!</h2>
        </section>

        <section class="products-section">
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="iphone.png" alt="iPhone 13" class="product-image">
                <h3>iPhone 13</h3>
                <p class="price">$999</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="samsung.webp" alt="Samsung Galaxy S21" class="product-image samsung-image">
                <h3>Samsung Galaxy S21</h3>
                <p class="price">$799</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="pixel.jpg" alt="Google Pixel 6" class="product-image">
                <h3>Google Pixel 6</h3>
                <p class="price">$599</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="vivo.jpg" alt="Vivo x100 ultra" class="product-image">
                <h3>Vivo x100 ultra</h3>
                <p class="price">$729</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="samsungs24.jpg" alt="samsung s24" class="product-image">
                <h3>samsung s24</h3>
                <p class="price">$749</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
            <div class="product-card" onmouseover="this.classList.add('hover-effect')" onmouseout="this.classList.remove('hover-effect')">
                <img src="iphone.webp" alt="Iphone 16" class="product-image">
                <h3>Iphone 16</h3>
                <p class="price">$1500</p>
                <button class="order-button" onclick="navigateTo('order')">Замовити</button>
            </div>
        </section>

        <button class="back-button" onclick="navigateTo('index')">Назад</button>
    </main>

    <script>
        function navigateTo(page) {
            window.location.href = page + '.html'; // Переход на іншу сторінку
        }
    </script>
</body>
</html>

